<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.appotaadssample"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    
<!--     START for TESTING -->
	<uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
<!-- 	 END for TESTING -->

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.appotaadssample.ConfigActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.appotaadssample.MainPortraitActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.appotaadssample.MainLandscapeActivity"
            android:screenOrientation="landscape" />
        <activity android:name="com.example.appotaadssample.TestActivity" />

        <!-- Config for PID -->
        <activity android:name="com.appota.ads.AppotaURIHandler" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" >
                </action>

                <category android:name="android.intent.category.DEFAULT" >
                </category>
                <category android:name="android.intent.category.BROWSABLE" >
                </category>

                <data android:scheme="appotafce6205de1f14273e230a10a78d9d8e2054fe985e" >
                </data>
            </intent-filter>
        </activity>
        
		<!-- Appota API Key -->
        <meta-data
            android:name="com.appota.apiKey"
            android:value="K-A176163-U00000-GUKUY7-FC7E0F1A9FFA763D" />
        
        <!-- clientId for Ads -->
        <meta-data
            android:name="com.appota.clientId"
            android:value="fce6205de1f14273e230a10a78d9d8e2054fe985e" />

        <activity
            android:name="com.appota.ads.view.AdActivity"
            android:taskAffinity="com.appota.ads" />
        
        <activity android:name="com.appota.ads.view.VideoAds" />
        
        <activity android:name="com.appota.ads.view.OfferActivity" />
        
        <!-- Using for getting Google's Android advertising ID -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="7571000"/>
<!--         For my own testing -->
		<service android:name="com.example.appotaadssample.fortesting.MyService"/>
    </application>

</manifest>